@mixin flexBoxprimery{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin primeryButton{
    color: #fff;
            padding: 13px 15px;
            border: none;
            background-color: #00868A;
            @include flexBoxprimery();
            text-transform: uppercase;
}