@mixin flexBoxprimery{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin primeryButton{
    color: $colorWhite;
            padding: 13px 15px;
            border: none;
            background-color: $backgroundColorDark;
            @include flexBoxprimery();
            text-transform: uppercase;
}

@mixin miniButtonLight{
    color:$colorWhite;
        padding: 9px 15px 10px;
        background: $backgroundColorLight;
        border: none;
}

@mixin miniButtonDark{
    color:$colorWhite;
        padding: 9px 15px 10px;
        background: $backgroundColorDark;
        border: none;
}
