@import "./mixins";
@import "./variables.scss";


.full_container{
        max-width: 1295px;
        margin: 0 auto;
}

.xs_container{
    padding: 35px 40px;
}

.top_nav_bar{
    @include flexBoxprimery();

    height: 90px;

    .places{
        img{
            margin-left: 15px;
        }
    }

    div{
        button{
            img{
                margin-right: 10px;
            }
            color: $colorWhite;
            padding: 13px 15px;
            border: none;
            background-color: #00868A;
            @include flexBoxprimery();
            text-transform: uppercase;
        }
        a{
            @include flexBoxprimery();
            color: black;
            text-decoration: none;
font-weight: 500;
font-size: 16px;
line-height: 19px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 30px;
        border-left: 1px solid #C4C4C4;
    }
}


.header_content{
    background: #4FBFA5;
    height: 703px;

    .nav_bar{
        padding-top: 24px;

        button{
            border: none;
            padding: 10px 15px;
        }

        ul{
            li{
                a{
                    text-decoration: none;
                    color: $colorWhite;
                }
                margin-right: 65px;
            }
            padding: 0 95px 0 30px;
            @include flexBoxprimery();
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


}

.center_content{
    height: 533px;
    margin-top: 30px;
    display: flex;

    .content_text{
        padding-top: 133px;
        position: relative;
        h2{
            color: $colorWhite;
font-weight: 700;
font-size: 48px;
line-height: 150%;
        }
        p{
            padding-top: 20px;
            color: $colorWhite;
font-weight: 500;
font-size: 14px;
line-height: 150%;
        }
        button{
            margin-top: 40px;
            @include primeryButton();
        }
    }

    .next_arrows{
        div{
            border: 1px solid $colorWhite;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 50px;
        }
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 60px;
        right: 60px;
    }
}

.bottom_content{
    display: flex;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #00868A;
font-weight: 500;
font-size: 21px;
line-height: 150%;
        text-align: center;
        height: 80px;
        width: 324px;
    }
.center_box{
    background: none;
}

    .long_box{
width: 648px;
    }
}


// style of main 

.info{
    margin-top: 80px;
    display: flex;

}

.left_info{
    background-color:$backgroundColorDark;
    width: 50%;
    display: block;
    .info_img_women{
        width: 100%;
    }

    button{
        @include miniButtonLight();
    }

    h3{
        padding-top: 30px;
width: 445px;
        color: $colorWhite;
font-weight: 500;
font-size: 30px;
line-height: 150%;
    }

    a{
        margin-top: 25px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $colorWhite;
        text-transform: uppercase;
font-weight: 700;
font-size: 16px;
line-height: 150%;
    }

    .arrow_long_right{
        margin-right: 20px;
        border: 1px solid $colorWhite;
        padding: 20px 15px;
    }
}

.right_info{
position: relative;
    margin-left: 100px;
    button{
        @include miniButtonLight();
        margin-bottom: 30px;
    }

    div{
        margin-top: 15px;
        display: flex;
        align-items: center;

    }

    .checked_hover{
        position: relative;
        z-index: 3;
    }

    h3{
        margin-left: 20px;
        width: 35%;
        color: black;
        opacity: 0.3;
font-weight: 500;
font-size: 14px;
line-height: 150%;
    }

    span{
        color: black;
        opacity: 0.3;
font-weight: 500;
font-size: 48px;
line-height: 150%;
    }

    .check_span{
        opacity: 1;
        color: $backgroundColorDark;
font-weight: 500;
font-size: 96px;
line-height: 150%;
    }

    h2{
        margin-left: 30px;
        width: 50%;
font-weight: 500;
font-size: 28px;
line-height: 150%;
    }

    .patent{
        z-index: 1;
        position: absolute;
        right: 0px;
        bottom: 40px;
    }

}

.news{
    margin-top: 80px;
    display: flex;
}

.left_block{
    background-color: $backgroundColorLight;

    button{
        @include miniButtonDark();
        margin: 35px 0 0 40px;
    }

    div:nth-child(2){
        background-color: $backgroundColorDark;
    }

    div{
        padding: 35px 40px;
    }

    p{
        width: 465px;
        color: $colorWhite;
font-weight: 500;
font-size: 18px;
line-height: 150%;
    }

}


.right_block{
    background-color: $backgroundColorWithOpacity;

    h3{
        margin: 35px 60px 0;
        color: black;
font-weight: 700;
font-size: 24px;
line-height: 150%;
    }

    ul{
        li{
            text-align: left;
            padding: 30px 0 0 15px;
        }
        margin: 0 60px;
        list-style-image: url(img/icon/list_style.svg);
        list-style-position: outside;
    }
}